a(href=photo.prev.pageURI) &lt;&lt;previous&nbsp;
a(href=photo.next.pageURI) next&gt;&gt;
a(href=config.photos.galleryURI + '?gallery=' + gallery + '&photo=' + photo.next.name, id="photolink")
  img#photo(alt=photo.caption, title=photo.caption, src=photo.fullSizeURI)

h1.caption#caption #{photo.caption}
- each photo in photos
  - jsCaption = photo.caption.replace("'", "\\'").replace('"', "&quot;").trim()
  -  altCaption = photo.caption.replace('"', "&quot;").trim()
  - onClick = "showPhoto('" + photo.fullSizeURI + "', '" + jsCaption + "', '" + photo.name + "');return true"
  a(href="#", onClick=onClick)
    img.thumbnail(src=config.photos.photoURI + gallery + '/' + photo.name + config.photos.thumbExtension, alt=altCaption, title=altCaption)
h1 Other Photo Galleries
- each gallery in galleries
  a(href=config.photos.galleryURI + '?gallery=' + gallery) #{gallery})
  br
script(type="text/javascript")
  function showPhoto(img, caption, name) {
    $("#photo").attr("src", img);
    $("#caption").text(caption);
    $("#photolink").attr("href", "#{config.photos.galleryURI}");
    return true;
  }
